<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  The Bard Engine is an Open Source project by  <a href="http://www.linkedin.com/in/clivehenrick/">Clive Henrick</a>, and he freely admits that while he
  loves Ruby on Rails and Ruby, He is NO expert at it. Any feedback is not only wished for, but encourage in the strongest terms.
  <p>
  The Git Repo is located at : https://github.com/chenrick/learning.git
  </p>
  <p>
  Check it out and add to the Bard Engine!
  </p>
</p>