<div class="center hero-unit">
<h1>Story Engine</h1>
<p>The Bard Story Engine is a old school text adventure engine built
	in Ruby on Rails.</p>
	<br>
	<%= link_to "Sign up Now!", '#', class:"btn btn-large btn-primary" %>
	
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

